body{
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh 0;
}
.headings{
    text-align: center;
    margin-bottom: 20px;
}
.top-heading{
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-size: 45px;
    margin-bottom: 0;
}
.top-heading span{
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}
.bottom-heading{
    font-size: 19px;
    font-weight: 300;
    color: hsl(209, 33%, 12%);
    margin-top: 20px;
}
#mailAndBtn{
    display: flex;
    gap: 17px;
}
#userMail{
    height: 50px;
    width: 360px;
    border-radius: 30px;
    padding-left: 20px;
    border: 1px solid rgba(194, 211, 255, 0.7);
}
::placeholder{
    color: rgba(194, 211, 255, 0.7);
    font-size: 16px;
}
.notifyBtn{
    width: 170px;
    height: 50px;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    border: 0;
    box-shadow: 0 4px 8px 1px #cbd0f1;
    color: #fff;
    font-size: 15px;
}
.dashboard{
    width: 600px;
    margin-top: 70px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.icons{}