body{
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh 0;
}
.headings{
    text-align: center;
    margin-bottom: 20px;
}
.top-heading{
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-size: 45px;
    margin-bottom: 0;
}
.top-heading span{
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}
.bottom-heading{
    font-size: 19px;
    font-weight: 300;
    color: hsl(209, 33%, 12%);
    margin-top: 20px;
}
#mailAndBtn{
    display: flex;
    gap: 17px;
}
#userMail{
    height: 50px;
    width: 360px;
    border-radius: 30px;
    padding-left: 20px;
    border: 1px solid rgba(194, 211, 255, 0.7);
}
::placeholder{
    color: rgba(194, 211, 255, 0.7);
    font-size: 16px;
}
.notifyBtn{
    width: 170px;
    height: 50px;
    border-radius: 30px;
    background-color: hsl(223, 87%, 63%);
    border: 0;
    box-shadow: 0 4px 8px 1px #cbd0f1;
    color: #fff;
    font-size: 15px;
    transition: background-color 0.5s;
}
.notifyBtn:hover{
    background-color: rgba(79, 125, 243, 0.8);
    cursor: pointer;
}
.notifyBtn:active, .icon:active{
    transform: translateY(2px);
}
.dashboard{
    width: 600px;
    margin-top: 70px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-size: 10px;
    color: hsl(0, 0%, 59%);
}
.icons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.icon{
    height: 20px;
    width: 20px;
    border: 1px solid rgba(194, 211, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color:hsl(223, 87%, 63%);
    transition: color 0.5s, background-color 0.5s;
}
.icon:hover{
    color: #fff;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
}
@media (max-width:600px){
    .logo{
        margin-bottom: 30px;
    }
    .logo img{
        width: 50px;
    }
    .top-heading{
        font-size: 20px;
    }
    #mailAndBtn{
        flex-direction: column;
    }
    #userMail{
        width: 260px;
        height: 40px;
    }
    ::placeholder{
        font-size: 12px;
    }
    .notifyBtn{
        width: 280px;
        height: 40px;
        font-size: 12px;
    }
    .dashboard{
        width: 270px;
        margin-bottom: 50px;
    }
}