body{
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh 0;
}
.headings{
    text-align: center;
    margin-bottom: 20px;
}
.top-heading{
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-size: 45px;
    margin-bottom: 0;
}
.top-heading span{
    font-weight: 700;
    color: hsl(209, 33%, 12%);
}
.bottom-heading{
    font-size: 19px;
    font-weight: 300;
    color: hsl(209, 33%, 12%);
    margin-top: 20px;
}